#build --extra_toolchains=//toolchain:cc_toolchain_for_linux_x86_64

build --cxxopt=-std=c++23 --host_cxxopt=-std=c++23
# This is used to build rules_foreign_cc correctly.
# See https://github.com/bazel-contrib/rules_foreign_cc/issues/1427
build --repo_env=BAZEL_CONLYOPTS="-std=gnu17"

# Address sanitizing
build:asan --extra_toolchains=//toolchain:cc_toolchain_for_linux_x86_64
build:asan --features=asan
build:asan --test_env=ASAN_SYMBOLIZER_PATH=/home/rojkov/tools/clang-18.1.8-x86_64-linuxx-gnu/bin/llvm-symbolizer

# Thread sanitizing
build:tsan --extra_toolchains=//toolchain:cc_toolchain_for_linux_x86_64
build:tsan --features=tsan
build:tsan --test_env=ASAN_SYMBOLIZER_PATH=/home/rojkov/tools/clang-18.1.8-x86_64-linuxx-gnu/bin/llvm-symbolizer
