build --cxxopt=-std=c++23 --host_cxxopt=-std=c++23
# This is used to build rules_foreign_cc correctly.
# See https://github.com/bazel-contrib/rules_foreign_cc/issues/1427
build --repo_env=BAZEL_CONLYOPTS="-std=gnu17"